@charset "UTF-8";
/*<!--回到顶部-->*/
.fixed{
    width: 1.4rem;
    position: fixed;
    right: .8rem;
    bottom: 2.6rem;
    z-index: 10000000000000;
    display: none;
}
/*<!--头部-->*/
.head{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    position: fixed;
    left:0;
    right:0;
    z-index: 100000;
    height: 1.1rem;
    line-height: 1.1rem;
    padding: .3rem 0;
}
.head img{
    width: 1rem;
    position: absolute;
    left: .5rem;
    top: .55rem;
}
.head > a{
    position: absolute;
    height: 1.1rem;
    line-height: 1.1rem;
    left: 2rem;
    right: 2rem;
    border-radius: 2px;
    background: url("../images/search_bfba941.png");
    background-size: 100% auto;
}
.head a span{
    padding-left: 1.3rem;
    color: #B2B2B2;
    font-size: .5rem;
}
.head div{
    position: absolute;
    right: .4rem;
    font-size: .6rem;

}
.head div a{
     color: #fff;
 }
/*<!--广告-->*/
.strip{
    height: 1.65rem;
    background: #fff;
    overflow: hidden;
}
.strip img{
    width: 3.3rem;
}
.strip span{
    line-height: 1.65rem;
    color: #b2b2b2;
}
.strip_txt{
    width: 10rem;
    font-size: .58rem;
}
.strip_txt li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: .4rem;
    margin: .45rem 0 .45rem .1rem;
    /*border-left: 1px solid #b2b2b2;*/
}
/*<!--优惠-->*/
.cells li{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.cells li:nth-child(1){
    padding-right: .05rem;
}
.cells li:nth-child(2){
    padding-left: .05rem;
}
.cells li:nth-child(2) img:first-of-type{
    padding-bottom: .1rem;
}
.cells li:last-of-type{
    width: 100%;
    background: #f5f5f5;
    padding: .4rem 0;
}
/*<!--明星单品-->*/
.price p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.star li{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.star li:nth-child(odd){
    padding-right: .05rem;
}
.star li:nth-child(even){
    padding-left: .05rem;
}
.star .price,.life .price{
    padding: .4rem .5rem;
}
.star .price p:nth-child(2){
    font-size: .45rem;
    color: #999999;
    padding-bottom: .1rem;
}
.star .price p:nth-child(1),
.life .price p:nth-child(1),
.life .price span:nth-child(1){
    font-size: .58rem;
    padding-bottom: .1rem;
}
.star .price p:nth-child(3),
.life .price p:nth-child(2),
.life .price span:nth-child(2),
.cheap li:nth-child(3) .price p:nth-child(2){
    font-size: .62rem;
    color: #FF6600;
}
.star p{
    padding: 0 0 .6rem;
    color: #676767;
    font-size: .6rem;
}
.star .price p,
.hot .price p{
    padding: 0;
}
/*<!--米家智能-->*/
.home li:nth-child(odd){
    padding-right: 0rem;
}
.home li:nth-child(even){
    padding-left: 0rem;
}
.home li a,.home li img{
    height: 7.5rem;
}
.home p.ct{
    padding-top: .6rem;
}
.home .price p:nth-child(1){
    font-size: .6rem;
    color: #333;
}
.home .price p:nth-child(2){
    font-size: .4rem;
    color: #999999;
}
.home .price p:nth-child(3){
    color: #ff6000;
}
.home li:nth-child(2) .price,
.home li:nth-child(3) .price,
.home li:nth-child(6) .price{
    padding: 1.2rem .5rem 0 .5rem;
}
.home .price p{
    white-space: inherit;
}
/*<!--学习办公-->*/
.hot img {
    vertical-align: bottom;
}
/*<!--品质生活-->*/
.life li{
    float: left;
    box-sizing: border-box;
}
.life li:nth-child(1),.life li:nth-child(5),
.cheap li:nth-child(3),.cheap li:nth-child(5){
    width: 33.333%;
}
.life li:nth-child(2),.life li:nth-child(4),
.cheap li:nth-child(2),.cheap li:nth-child(4){
    width: 66.667%;
}
.life li:nth-child(3) .price p:nth-child(2),
.cheap li:nth-child(1) .price p:nth-child(2){
    color: #999999;
    font-size: .56rem;
}
/*<!--便宜好用的小物-->*/
.cheap li:nth-child(3) .price p:nth-child(2){
    color: #FF6600;
}
.cheap li:nth-child(1){
    width: 100%;
}
.cheap li:nth-child(2),.cheap li:nth-child(4){
    /*width: 10rem;*/
    padding-right: .05rem;
}
.cheap li:nth-child(3),.cheap li:nth-child(5){
    /*width: 5rem;*/
    padding-left: .05rem;
}
/*<!--新家必备-->*/
.necessary li:nth-child(1),.necessary li:nth-child(4){
    padding-right: .05rem;
}
.necessary li:nth-child(2),.necessary li:nth-child(5){
    padding-left: .05rem;
}
.necessary li:nth-child(3){
    width: 100%;
}
.necessary li:nth-child(1),.necessary li:nth-child(5){
    width: 66.667%;
}
.necessary li:nth-child(2),.necessary li:nth-child(4){
    width: 33.333%;
}
/*<!--手机好伴侣-->*/
.iPhone li:last-of-type{
    width: 100%;
    padding: 0;
}
.iPhone li:last-of-type .price p,
.baby li:first-of-type .price p
{
    color: #999999;
    font-size: .56rem;
}
.iPhone li:last-of-type .price span:nth-child(1),
.baby li:first-of-type .price span:nth-child(1)
{
    font-size: .58rem;
    padding-bottom: .2rem;
}
.iPhone li:last-of-type .price span:nth-child(2),
.baby li:first-of-type .price span:nth-child(2)
{
    font-size: .62rem;
    color: #FF6600;
}
/*<!--爱宝宝-->*/
.baby li:first-of-type{
    width: 100%;
    padding: 0;
}
.baby li:nth-child(2){
    padding-left: 0;
    padding-right: .05rem;
}
.baby li:nth-child(3){
    padding-right: 0;
    padding-left: .05rem;
}
/*<!--固定导航栏-->*/
.nav li:nth-child(1) div{
    background: url("../images/spr1_5b2e09c.png") no-repeat 0 0;
    background-size: 100% auto;
}
.nav li:nth-child(1) a{
    color: #FF5722;
}




































